html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}
* {
  font-size: 1.1rem;
}
.header {
  grid-area: header;
  background-color: #203040;
  color: #fff;
  display: flex;
  align-items: center;
  padding: .5rem;
}
.filter-container {
  width: 70%;
  display: flex;
  justify-content: space-between ;
  border-bottom: 1px solid lightgray;
  padding: 10px;
}
.main-container {
  width: 100%;
  display: flex;
}
.cart-container {
  width: 30%;
  border-bottom: 1px solid lightgray;
  padding: 10px;
}
.body-container{
  width: 100%;
  display: flex;
}
.products {
  width: 70%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.cart {
  width: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.cart-product{
  width: 100px;
  height: 100px;
}